<br><br>
<div>
  <section class="w-2/3 flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
    <div>
      <h1 class="text-3xl font-bold">Agenda tu Hora</h1>
    </div>
    <br>
    <table class="min-w-full table-auto border-collapse border border-gray-300">
      <thead>
        <tr>
          <th class="py-3 px-4">Bloque</th>
          <th *ngFor="let day of days" class="py-3 px-6">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border border-gray-300" *ngFor="let block of blocks; let blockIndex = index">
          <td class="py-3 px-6">Bloque {{ blockIndex + 1 }}</td>
          <td *ngFor="let day of days" class="py-3 px-6 border border-gray-300">
            <!-- Botón para cada bloque -->
            <button
              class="px-4 py-2 w-full rounded-md border border-gray-300 focus:outline-none"
              [disabled]="isDisabled(block + '/' + day)" 
              [ngClass]="{
                'bg-red-600 text-white': isDisabled(block + '/' + day),
                'bg-teal-600 text-white': isSelected(block + '/' + day),
                'bg-gray-200 text-gray-700': !isSelected(block + '/' + day) && !isDisabled(block + '/' + day)
              }"
              (click)="selectBlock(block + '/' + day)"
            >
              {{ block }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <button (click)="submit()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      AGENDAR
    </button>
  </section>
</div>
<br><br>
<app-popup/>
